<div class="row d-flex justify-content-center mt-3">
    <div class="col-3 text-center">
        <h5>Lista de Cursos</h5>
 
    </div>
</div>
<div class="row mt-2">
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Descrição</th>
            </tr>
        </thead>
        <tbody>
            {{#if status}}

            {{#each cursos}}
                <tr>
                <td>{{this.id}}</td>
                <td>{{this.nome}}</td>
                <td>{{this.descricao}}</td>
                <td><a href="/cursos/form_altera/{{this.id}}">ALTERAR</a></td>
                <td>EXCLUIR</td>
            </tr>
            {{/each}}

            {{else }}

            <tr>
                <td class="text-center">Não há cursos cadastrados</td>
            </tr>

        {{/if}}
        </tbody>
    </table>
</div>