<div class="row d-flex justify-content-end mt-3">
    <div class="col-6">
        <form class="d-flex" role="search">
      <input class="form-control me-2" type="search" placeholder="Buscar Por..." aria-label="Search">
      <div class="input-group">
  <select class="form-select" id="inputGroupSelect04" aria-label="Example select with button addon">
    <option value="1">Nome</option>
    <option value="2">RA</option>
  </select>
  <input type="submit" class="btn btn-outline-secondary" value="Buscar">
</div>
    </form>
    </div>
</div>
<div class="row mt-2">
    <table class="table">
        <thead>
            <tr>
                <th>RA</th>
                <th>Nome</th>
                <th>Sobrenome</th>
                <th>Curso</th>
            </tr>
        </thead>
        <tbody>
     {{#each alunos}}
 <tr>
                <td>{{this.id}}</td>
                <td>{{this.nome}}</td>
                <td>{{this.sobrenome}}</td>
                <td>{{this.Curso}}</td>
                <td><a href="/alunos/detalhes/{{this.id}}">Detalhes</a></td>
            </tr>
     {{/each}}
        </tbody>
    </table>
</div>