<div class="row d-flex justify-content-end mt-3">
    <div class="col-3">
        <form class="d-flex" role="search">
      <input class="form-control me-2" type="search" placeholder="Buscar RA" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Buscar</button>
    </form>
    </div>
</div>
<div class="row mt-2">
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Data de inicio</th>
                <th>Data de conclusão</th>
                <th>Curso</th>
                <th>Qunatidade de Alunos</th>
            </tr>
        </thead>
        <tbody>
            {{#each turmas}}
            <tr>
                <td>{{this.id}}</td>
                <td>{{this.dataInicio}}</td>
                <td>{{this.dataFim}}</td>
                <td>{{this.[Curso.nome]}}</td>
                <td>|{{this.qtd_max}}</td>
                <td>ALTERAR</td>
                <td>EXCLUIR</td>
            </tr>
            {{/each}}
            
        </tbody>
    </table>
</div>