<div class="row d-flex justify-content-end mt-3">
    <div class="col-3">
        <form class="d-flex" role="search">
      <input class="form-control me-2" type="search" placeholder="Buscar RA" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Buscar</button>
    </form>
    </div>
</div>
<div class="row mt-2">
    <table class="table">
        <thead>
            <tr>
                <th class="text-center">ID</th>
                <th class="text-center">Data de inicio</th>
                <th class="text-center">Data de conclusão</th>
                <th class="text-center">Curso</th>
                <th class="text-center">Quantidade de Alunos</th>
            </tr>
        </thead>
        <tbody>
            {{#each turmas}}
            <tr>
                <td class="text-center">{{this.id}}</td>
                <td class="text-center">{{dataInicio}}</td>
                <td class="text-center">{{dataFim}}</td>
                <td class="text-center">{{this.[Curso.nome]}}</td>
                <td class="text-center">{{this.qtdAluno}} | {{this.qtd_max}}</td>
                <td class="text-center"><a href="/turmas/turma_alunos/{{this.id}}">Mostrar Turma</a></td>
                <td class="text-center"><a href="/turmas/FormUpdate_turma/{{this.id}}">ALTERAR</a></td>
                <td class="text-center">EXCLUIR</td>
            </tr>
            {{/each}}
            
        </tbody>
    </table>
</div>