
<div class="row mt-2">
    <h1 class="text-center">Lista turma {{turma.[Curso.nome]}} - {{formatDate turma.dataInicio}}</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Nome</th>
                <th>sobrenome</th>
            </tr>
        </thead>
        <tbody>
            {{#each alunos}}
            <tr>
                <td>{{nome}}</td>
                <td>{{sobrenome}}</td>
                <td><a href="/alunos/detalhes/{{id}}">DETALHES</a></td>
                
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>